.navbar {
  font-size: 17px;
  height: 90px;
  margin-top: 0;
  transition: background-color 0.7s ease;
  bottom: 1px solid #cccccc59 !important;

  a {
    color: #707070;
  }

  .nav-item {
    margin-right: 36px;
  }

  .nav-item:last-child {
    padding-right: 0;
  }
}

.navbar-scrolled {
  background-color: #ffffffbf;
  backdrop-filter: blur(7px);
  border-bottom: 1px solid #cccccc59 !important;
}
