#hero {
  min-height: 670px;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  background-image: url(../images/backgrounds/hero-mask.png);
  background-position: center;
  background-size: cover;

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 6rem;
    text-align: center;

    @include respond(tab-land) {
      font-size: 5.5rem;
    }

    @include respond(tab-port) {
      font-size: 5.4rem;
      text-align: center;
    }

    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
      margin-bottom: 5rem;
    }

    @include respond(phone-xs) {
      font-size: 3rem;
      margin-bottom: 3rem;
      padding: 0rem 2rem;
    }
  }
}

@include respond(tab-land) {
  #hero {
    min-height: 600px;
  }
}
@include respond(tab-port) {
  #hero {
    min-height: 540px;
  }
}
@include respond(phone) {
  #hero {
    min-height: 440px;
  }
}
@include respond(phone-xs) {
  #hero {
    min-height: 340px;
  }
}
